<ul class="list-unstyled">
  <% favorites.each do |favorite| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(favorite.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to favorite.user.name, user_path(favorite.user) %> <span class="text-muted">posted at <%= favorite.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= favorite.content %></p>
        </div>
        <div>
          <ul class="nav">
            <li>
          <% if current_user == favorite.user %>
            <%= link_to "Delete", favorite, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
            </li>
          <li><%= render 'favorites/favorite_button', micropost: favorite %></li>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate favorites %>
</ul>